.blureffect {
  @apply fixed inset-0 bg-gray opacity-25;
}
.sidemenu {
  @apply fixed inset-0 z-50 flex;
  & > .dialogpanel {
    @apply relative flex w-2/3 no-scrollbar z-[-1] bg-green flex-col overflow-y-scroll pb-4;
    & > .container {
      @apply flex flex-col px-4 gap-10;
      & > .menuheader {
        @apply flex items-center justify-between h-20 px-4 bg-green;
        & .heading1 {
          @apply text-white text-subtitle2 m-0;
        }
        & .heading2 {
          @apply text-white opacity-40 text-subtitle2 m-0;
        }
      }
      & > .navlinks {
        @apply flex flex-col gap-8;
        & > .link {
          @apply text-white opacity-50 hover:opacity-100 focus:opacity-100 relative pb-1;
        }
      }
      & > .icons {
        @apply flex gap-2;
      }
    }
  }
}

.link::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 0;
  background-color: yellow;
}
.link:hover::before {
  width: 50%;
  transition: 0.2s ease-in-out;
}
.link:focus::before {
  width: 50%;
}
