@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "roboto-reg";
	src: url("../../public/fonts/roboto-regular-webfont.woff2") format("woff2"),
		url("../../public/fonts/roboto-regular-webfont.woff") format("woff"),
		url("../../public/fonts/Roboto-Regular.ttf") format("ttf");
}

@layer base {
	:root {
		--color-green: 59 93 80;
		--color-green-light: 220 229 228;
		--color-yellow: 249 191 41;
		--color-black: 47 47 47;
		--color-gray: 106 106 106;
		--color-white: 255 255 255;
		--color-offwhite: 240 242 241;
		--swiper-theme-color: rgba(59 93 80);
	}

	html {
		scroll-behavior: smooth;
	}

	header,
	footer,
	section {
		@apply px-container;
	}

	section {
		@apply py-10;
	}

	body {
		@apply font-sans overflow-x-hidden text-black bg-offwhite;
	}

	/* ------------ typography starts ------------ */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply mb-2;
	}

	h1 {
		@apply text-heading1;
	}
	h2 {
		@apply text-heading2;
	}
	h3 {
		@apply text-heading3;
	}
	h4 {
		@apply text-heading4;
	}
	h5 {
		@apply text-heading5;
	}
	h6 {
		@apply text-heading6;
	}

	p.subtitle1 {
		@apply text-subtitle1;
	}
	p.subtitle2 {
		@apply text-subtitle2;
	}
	p {
		@apply text-body2;
	}
	p.small,
	p.caption {
		@apply text-caption1;
	}
	p.sm {
		@apply text-caption2;
	}
	p.large,
	p.body1 {
		@apply text-body1;
	}

	button,
	a {
		@apply text-btn;
	}
	/* ------------ typography ends ------------ */

	input,
	textarea {
		@apply px-4 py-3 rounded-xl bg-white outline-none w-full border border-gray/30 focus:border-green placeholder:text-gray/50;
	}
}

@layer utilities {
	/* ------------------- hide scrollbar starts ------------------- */
	/* Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar::-webkit-scrollbar-track {
		background-color: transparent;
	}
	.no-scrollbar {
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
	}
	/* ------------------- hide scrollbar ends ------------------- */
}

/* ------------------- swiper ends ------------------- */
.swiper-pagination-bullet-active {
	--swiper-pagination-color: rgba(59 93 80);
}
.swiper-custom-navigation-btn {
	@apply max-sm:hidden absolute z-10 top-1/2 w-14 aspect-square bg-green bg-opacity-20 rounded-full text-green hover:bg-opacity-100 hover:text-white duration-300 flex justify-center items-center cursor-pointer;
}
/* ------------------- swiper ends ------------------- */
