@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "roboto-reg";
	src: url("../../public/fonts/roboto-regular-webfont.woff2") format("woff2"),
		url("../../public/fonts/roboto-regular-webfont.woff") format("woff"),
		url("../../public/fonts/Roboto-Regular.ttf") format("ttf");
}

@layer base {
	:root {
		--color-green: 61 93 81;
	}

	body {
		@apply font-sans;
	}
}
